*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* header-nav-logo design*/


  
header{
   display: flex;
   height: 100px;
   background-color: transparent;
   background-color: rgb(235, 228, 223);
   box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 30px;
}


header img{
    
    width: 100px;
   
    
}

.title{
  margin-left: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 13%;
}
header h3{
   text-align: center;
   font-family: 'Arial', serif;
    color: rgb(94, 54, 14);
    text-transform: uppercase;
    letter-spacing: 4px;
}

header h5{
    font-family: 'Arial', serif;
    color: rgb(94, 54, 14);
    text-transform: uppercase;
    letter-spacing: 4px;

}

header .title :hover {
    color: white;
    cursor: pointer;
    position: relative;
    transition: all 200ms linear;
  }

header nav{
    margin-left: 700px;
    margin-top: 50px;
}

header a{
    font-family: 'Arial', serif;
    font-size: 17px;
    color: rgb(94, 54, 14);
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    margin: 0 18px;
    font-weight: 600;
   
}

  header nav :hover {
    color: white;
    cursor: pointer;
  }


  /*background image*/

body{
    background-image: url(../IMG/bg.avif);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
    animation: backwards;
   
}
/*
h2{
   
    display: flex;
    justify-content: center;
    margin-top: 25%;
    font-family: 'Arial', serif;
    color: rgb(118, 69, 21);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 900;
    animation: text 19s 1;
    
}

h2 span{
    display: inline-block;
    transition: all 300ms linear;
}


 h2 :hover{
        cursor: pointer;
        color: rgb(127, 91, 40);
        margin-bottom: -40px;
        letter-spacing: 25px;
        margin-bottom: -40px;
        letter-spacing: 8px;
        margin-bottom: -40px;
        text-overflow: clip;
   
}
*/



/*cards*/
